/*Let's do a clean, modern font*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Manrope:wght@600&display=swap');
html {
	font-family: 'Manrope', sans-serif!important;
}
input,
textarea,
button,
select {
  font-family: inherit!important;
}