/*@keyframes drift {
  from { background-position: 0 0; }
  to   { background-position: 200px 200px; }
}*/
.ui-dialog::before, #sidebar::before, #chat::before {
content: "";
position: absolute;
inset: 0;
border-radius: inherit;
background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAACP0lEQVRIx83WPWsUURTG8TO+v5BYJiikUStBJIaI6AfwBSyUYCEYwcpaIYQQQbGJhV9ASKIIfoCkNwQFrYRUxsJEUGMl60RJXGF/Fpmss7uzya4Ieqaac8/9z9zn3nPOTcTfsS3xt0z1aRrRa9ZzfRsTNgHpNq4CKibt/yOQXYYtY8GyH97hmxG72wQZsIBlw3ZZVLLTkBSLLktaBOk1i4px3RERFpUiInR5qEKtYk1AVVVm9VZDM1BEhGNmahUrAOVUGaj5+RwoIsLFvGINoLwqdXrNeV/nySvWAMqp0tIJXFesADTT9nGeWQdtaxjqjOfR2QIjjdNJ+vu1AZSknsRYRERUYrkA0JHl51AeE0VLs8O8NXuqpya2x9Ns5K0dtUsr1MhZ8Akr7tobEWGPO1YyL+fqNWoitmmMGvENH111xQd8d9sophvFbgY6rCzVbb/JLPt57IAuqbLDLYMijGEyIkKfVav6IyJMYKxo+5uDOizhRESEUpa0/SqWdLQFijCIV5J1kMRLDBYfyOJdO+9BdeK1KmgQLyURrruwKchBU+BotpTPOpWUdFhS0R9hnxTPHG8OeuWeVbx2KvviOO4rKRnDROY96QUqHpkrBsEXN2zNZfhXZT+VlaW6qv7EgHfZjEJQyZG6JL5p3W7VjfT4UAxaK2ypITtz4du9AfNr2VXXYYoKW7NS6ww4m/NcsrBBqd2g+E/lsquV4t+0HR1ay6622lFRg2wo98mftuyB2gb0ry4R7V1rkv/uxvYLE9a+dHGTk+cAAAAASUVORK5CYII=);
background-repeat: repeat;	
  /*animation: drift 20s linear infinite;*/
mix-blend-mode: multiply;
mask-image: radial-gradient(
    circle at center,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,0) 70%
  );
pointer-events: none;
}