body {
    background-color: #1d2424d9;;
    color: #eee;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(119, 107, 54);
}

a {
    color: #00ffbb;
	transition all .3s ease;
}

a:hover {
    color: #ffffff;
	transition all .3s ease;	
}

div.release-container {
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 10px;
	border-radius: 10px;
}

table.changelog-table tr {
    vertical-align: top;
}

pre.changelog {
    color: lime;
}
