/******************Variables**************************/
:root {
	/*Colors*/
	--bgroundcol: rgba(29, 36, 36, .85); /*Chat, sidebar etc bg*/
	--whitecol: #fff; /*Hovers, focus text colors*/
	--linkcol: #25c0ca; /*Link color*/
	--lightwhite: #f9f9f9; /*Text and links*/
	--lightwhite2: #e9e9e9; /*Text colors #2*/
	--lightwhiteWhitetheme:; /*Light white theme related, empty for dark theme*/
	--hovers: #20A8B1; /* Hover colors bright blue ish*/
	--hovers2: #2B7A78; /*Button hovers and borders*/
	--hovers3: #eee; /*Input field text colors, text hovers, placeholders*/
	--hovers4: rgba(32, 168, 177, .05); /*Mod slot hover*/
	--hovers5: rgba(43, 122, 120, .65); /*Redeem input hover, decay calc text, bookmarks*/
	--textareahov: rgba(51, 217, 178, .6); /*Textarea hover border*/
	--textareahov2: rgba(43, 122, 120, .3); /*Textarea hover background*/
	--textareafocus: rgba(43, 122, 120, .5); /* Textarea focus background*/
	--textareabg: rgba(43, 122, 120, .1); /*Textarea background*/
	--titlebarbg: #272827; /*Titlebar background*/
	--titlebarbg2: rgba(113, 113, 113, 0); /*Titlebar bg 2*/
	--titlebarbggra: #1E241E; /*Titlebar background gradient*/
	--titlebartitlecol: #F4F4F4; /*Titlebar title color*/
	--buttonborder: rgba(27, 31, 35, .15); /*Titlebar, content button border*/
	--uidialogborder: rgba(72, 72, 72, .75); /*Border right above buttons on ui dialog*/
	--accentcol01: #339170; /*Button colors and such*/
	--accentcol02: #000; /* Placeholders, titlebar, bookmark span */
	--accentcol03: rgba(0, 0, 0, 0.3); /*Mods, bookmark folder div*/
	--accentcol04: rgba(51, 145, 112, .25); /*Redeem input color, bookmarks folder label*/
	--modsborder: #666; /*Border for mod rectangles*/
	--uilinkcol: #33D9B2; /*Dialog link color*/
	--uilinkcolhover: #fff; /*Dialog link color hover*/
	--uitooltip: #fff; /*UI tooltip text color*/
	--titlebaractive: #76E1A1; /*Dialog titlebar active text color*/
	--login1: #222; /*Login page gradient 1*/
	--login2: #363636; /*Login page gradient 2*/
	--login3: #172017; /*Login page gradient 3*/
	--disabled2: #363936; /*Disabled color, for inputs, dropdowns etc*/
	--enl: #03fe03; /*ENL color, sidebar portal details, chat agent name etc*/
	--res: #00c5ff; /*RES color, sidebar portal details, chat agent name etc*/
	--mac:#FF5F5F; /*Machina color, sidebar portal details, chat agent name etc*/
	--neutralportal: #fff; /*Neutral color, sidebar portal details, chat agent name etc*/
      /*Misc*/
	--bgblur: blur(0px) grayscale(100%); /*The dialog and other blur background*/
	--shadow: rgba(0, 0, 0, .28); /*Shadow behind dialogs and other stuff*/
	--shadow2: rgba(27, 31, 35, .1); /*Box shadow for titlebar, content buttons*/
	--historydetails: #ff4a4a; /*When not visited, captured, scoutcontrolled*/
	--leafletpopup: rgba(29, 36, 36, .75); /* Leaflet popup bg*/
	--sortablehov: #61815b45; /*Sortable table hover*/
	--sortable2: #64646445; /*Sortable table hover*/	
	--tablecol: rgba(128, 128, 128, .4); /*Table color*/
	--focuscol: #33D9B2; /*focus and active colors for input, text fields etc*/
	--tooltip: rgba(29, 36, 36, .60); /*Tooltips and chatinput color*/
	--meter: rgba(0, 0, 0, .75); /* reso bar bg*/
	--meterborder: rgba(0, 0, 0, .85); /*Reso bar border*/
	--meterbg: #FF2E2E; /*Reso meter bar North color*/
	--pulse0: rgba(29, 36, 36, .55); /*Reso bar pulse*/
	--pulse50: rgba(29, 36, 36, .6); /*Reso bar pulse*/
	--pulse100: rgba(29, 36, 36, .65); /*Reso bar pulse*/
	--scrolltrack: rgba(0, 0, 0, .15); /*Scrollbar track*/
	--emojibox: rgba(0, 0, 0, .5); /*Emojibox shadow*/
	--tableborder: rgba(179, 179, 179, .6); /*Th, td border and background*/
	--tabscol: #339170; /*Ui tabs active background and border*/
	--active: #339170; /*Checkbox/Radio buttons*/
	--activebtngrad: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgb(219, 219, 219) 100%); /* Active button gradient, light*/
	--activebtngrad2: linear-gradient(180deg, rgba(43, 122, 120, .1) 0%, rgba(43, 122, 120, .1) 100%); /* Active button gradient, dark*/
	--active-inner: #F9F9F9; /*Checkbox/Radio buttons*/
	--border: #BBE1C1; /*Checkbox/Radio buttons*/
	--border-hover: #33CB99; /*Checkbox/Radio buttons*/
	--background: #DCE3D9; /*Checkbox/Radio buttons*/
	--disabled: #f6f8ff; /*Checkbox/Radio buttons*/
	--disabled-inner: #E3F9E1; /*Checkbox/Radio buttons*/
	--selection: #187058; /*text selection color*/
	  /*Plugin specific*/
	--fieldset: #339170; /*Bannergress specific, border around contents in ui dialog with a small title up top*/
	--lastactiondecaycalc: #33D9B2; /*Decay calc, last action plugin colors in sidebar, bookmark link selected*/
	--portalslisttd: rgba(179, 179, 179, .4); /*Portalslist td, sortable background*/
	--portalslisttheadhov: rgba(43, 122, 120, .6); /*portalslist thead hover when sorted*/
	--portalslistenl: var(--portalslistenl); /*Enl color in portalslist*/
	--portalslistres: rgba(0, 86, 132, .8); /*res color in portalslist*/
	--portalslistfilterenl: rgba(1, 127, 1, .8); /*Portalslist filter enl bg*/
	--portalslisthistcap: rgba(255, 0, 0, .8); /*portalslist history captured or not */
	--portalslistscout: rgba(255, 230, 44, .8); /*portalslist scoutcontrolled or not*/
	--drsliderhov: rgba(255, 255, 255, .85); /*Draw tools sp slider hover*/
	--historydtldialoghov: #03fe03; /*History details complete, dialog list hover*/
	--liveinvbg: rgba(128, 128, 128, .8); /*Live inventory th background*/
	--bookmarksbox: rgba(29, 36, 36, .55); /*Bookmarks box background*/
	--bookmarksh5: #788; /*Bookmarksbox H5 color*/
	--bookmarksboxsort: rgba(8, 48, 78, .55); /*Bookmarks box sortable blaceholder bg*/
	--bkmrksselected: #03dc03; /*Bookmarks box bookmark selected color*/
	--bkmrksmobilebtn: #222; /*Bookmarks box mobile button bg*/
	--bkmrksmobilemove: #B42E2E; /*Bookmarks box mobile move button bg*/
	--favportalbg: rgba(234, 234, 234, .5); /*Fav portal bg lighter color*/
	--portalnameblur: blur(.7px); /*Portal names blur bg*/	
	--portalnamecol:#EFFEFF; /*Portal names text color*/
	/*Wasabee*/
	--wbnotenough: #DF6969; /*Not enough keys*/
	--wbenough: #76E1A1; /*Enough keys*/
	--drawbutton: #1e1e1e; /*Draw button text color*/
	--errortooltipborder: #e6b6bd; /*Error tooltip border color*/
	--errortooltipbg: #f2dede; /*Error tooltip bg*/
	--errortooltipcol: #b94a48; /*Error tooltip color*/
	--sortable: rgba(128, 128, 128, .6); /*sortable background color*/
	--leafletpopupcol: #202020; /*Leaflet popup color*/
	--respopup: #0081FF; /*Res popup color*/
	--dialogshadow: rgba(0, 0, 0, .28); /*Dialog box shadow*/
	--focus01: #33D9B2; /*Button, input, textarea focus borders, draw button background*/
	--mgrteamborder: #808080; /*Manage team border, dialog ol left, ul right*/
	--skinactive: #848484; /*Skin dialog active*/
	--pulse01: rgba(51, 217, 178, 0); /*Draw button pulse*/
	--pulse02: rgba(51, 217, 178, 0.6);/*Draw button pulse*/
	--panecol: #CE3B37; /*Destroy portal alert, pane color*/
	--panebg: rgba(8, 48, 78, 0.9); /*Pane background color*/
	--leafletbuttonbg: rgba(232, 255, 245, .5); /*Leablet button background color*/
	--leafletbarhov: rgba(117, 153, 122, .32); /*Leaflet bar button hover*/
	--leafletbuttonborder: rgba(149, 185, 142, .65); /* Leaflet button border color*/
	--leafletaactive: #3c9; /*Leaflet link active*/
	--subactionborder: rgba(51, 217, 178, .35); /*Border color for subactions*/
	--subactionbg: rgba(68, 98, 85, .7); /*background color for subactions*/
	--subactionahov: rgba(215, 215, 215, .8); /*Hover color for subactions*/
}