:root {
  --bgroundcol: rgb(0, 0, 0);
  --whitecol: #FFFFFF;
  --linkcol: #00FFFF;
  --lightwhite: #FFFFFF;
  --lightwhite2: #F0F0F0;
  --lightwhiteWhitetheme: ;
  --hovers: #FF6666;
  --hovers2: #B266FF;
  --hovers3: #FFFFFF;
  --hovers4: rgba(177, 76, 32, .2);
  --hovers5: rgba(122, 59, 43, .8);
  --textareahov: rgba(217, 112, 51, .8);
  --textareahov2: rgba(122, 65, 43, .5);
  --textareafocus: rgba(122, 85, 43, .7);
  --textareabg: rgba(122, 83, 43, .2);
  --titlebarbg: #1A1A1A;
  --titlebarbg2: rgba(113, 113, 113, 0);
  --titlebarbggra: #000000;
  --titlebartitlecol: #FFFFFF;
  --buttonborder: rgba(255, 255, 255, .6);
  --uidialogborder: rgba(255, 255, 255, .8); 
  --accentcol01: #FF6666;
  --accentcol02: #FFFFFF;
  --accentcol03: rgba(255, 255, 255, .13); 
  --accentcol04: rgba(198, 113, 64, .35);
  --modsborder: #FFFFFF; 
  --uilinkcol: #FF6666; 
  --uilinkcolhover: #FFFFFF; 
  --uitooltip: #FFFFFF; 
  --titlebaractive: #FF9999; 
  --login1: #0A0A0A; 
  --login2: #1A1A1A; 
  --login3: #050505; 
  --disabled2: #666666; 
  --enl: #00FF00; 
  --res: #00C5FF; 
  --mac: #FF5F5F; 
  --neutralportal: #FFFFFF; 
  /*Misc*/
  --bgblur: blur(3px) grayscale(100%);
  --shadow: rgba(0,0,0,.5);
  --shadow2: rgba(35,29,27,.2);
  --historydetails: #FF0000;
  --leafletpopup: rgb(0,0,0);
  --sortablehov: #F00; 
  --tablecol: rgba(253, 118, 0, .27);
  --focuscol: #FFFFFF;
  --tooltip: rgba(28,0,26,.9);
  --meter: rgba(0,0,0,.85);
  --meterborder: rgba(255,255,255,.9);
  --meterbg: #FF2E2E;
  --pulse0: rgba(29,36,36,.65);
  --pulse50: rgba(29,36,36,.7);
  --pulse100: rgba(29,36,36,.75);
  --scrolltrack: rgba(255,255,255,.25);
  --emojibox: rgba(0,0,0,.7);
  --tableborder: rgba(255,255,255,.8);
  --tabscol: #FF6666; 
  --active: #FF66CC; 
  --activebtngrad: linear-gradient(180deg, #FFFFFF 0%, #CCCCCC 100%);
  --activebtngrad2: linear-gradient(180deg, rgba(255,102,204,.2) 0%, rgba(255,102,204,.2) 100%);
  --active-inner: #FFFFFF;
  --border: #FFCCAA;
  --border-hover: #FF66CC;
  --background: #000000;
  --disabled: #555555;
  --disabled-inner: #888888;
  --selection: #FF66CC;
  /*Plugin specific*/
  --fieldset: #FF66CC; 
  --lastactiondecaycalc: #FF9900; 
  --portalslisttd: rgba(255,255,255,.5);
  --portalslisttheadhov: rgba(255,102,102,.7);
  --portalslistenl: var(--enl);
  --portalslistres: rgba(0,86,132,1);
  --portalslistfilterenl: rgba(0,127,0,1);
  --portalslisthistcap: rgba(255,0,0,1);
  --portalslistscout: rgba(255,255,0,1);
  --drsliderhov: rgba(255,255,255,1);
  --historydtldialoghov: #00FF00;
  --liveinvbg: rgba(255, 0, 0, .85);
  --bookmarksbox: rgb(0,0,0);
  --bookmarksh5: #FFFFFF;
  --bookmarksboxsort: rgba(78,58,8,.7);
  --bkmrksselected: #FF00FF;
  --bkmrksmobilebtn: #222;
  --bkmrksmobilemove: #FF0000;
  --favportalbg: rgba(0, 0, 0, 0);
  --portalnameblur: blur(.7px);
  --portalnamecol: #FFFFFF;
  /*Wasabee*/
  --wbnotenough: #FF6666;
  --wbenough: #00FF7F;
  --drawbutton: #FFFFFF;
  --errortooltipborder: #FF0000;
  --errortooltipbg: #FFCCCC;
  --errortooltipcol: #990000;
  --sortable: rgba(128,128,128,.7);
  --leafletpopupcol: #FFFFFF;
  --respopup: #0081FF;
  --dialogshadow: rgba(0,0,0,.35);
  --focus01: #FF66CC;
  --mgrteamborder: #FFFFFF;
  --skinactive: #FFFFFF;
  --pulse01: rgba(217,51,51,0);
  --pulse02: rgba(211,51,217,.7);
  --panecol: #FF3333;
  --panebg: rgba(78,8,27,.95);
  --leafletbuttonbg: rgba(255,233,232,.6);
  --leafletbarhov: rgba(153,117,148,.5);
  --leafletbuttonborder: rgba(185,142,183,.75);
  --leafletaactive: #CC33C4;
  --subactionborder: rgba(217,51,51,.5);
  --subactionbg: rgba(98,68,68,.85);
  --subactionahov: rgba(255,255,255,.9);
}
.dialog-LiveInventory tr, tbody tr:nth-child(odd):hover {
    background: var(--sortablehov)!important;
	transition: all 0s ease!important;
}
/*Tables without hover color*/
.ui-dialog-layerManager tr table tr:hover,
#KuKuThemeChooser-Container tr:hover{
	background: transparent!important;
}